.Card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.block {
  box-shadow: 3px 3px 10px 1px rgba(189, 189, 179, 1);
  margin: 5px;
}
.avatar {
  width: 3rem;
  height: 3rem;
  margin: 8px;
}

.img {
  padding: 10px 0 20px 0;
}
.name {
  font-family: Roboto;
  font-size: 12px;
}

.about {
  display: flex;
  justify-content: flex-start;
}

.icon {
  margin-top: 2px;
  width: 2rem;
  height: 2rem;
}
